<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.opusapp.player" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:name=".ui.utils.PlayerApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_label"
        android:theme="@style/AudioKit" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".core.service.PlayerService"
            android:enabled="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_label" >
        </service>

        <activity
            android:name=".ui.activities.settings.FirstRunActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>

        <activity
            android:name=".ui.activities.LibraryMainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AudioKit.NavigationDrawer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/flac" />
                <data android:mimeType="application/x-flac" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/flac" />
                <data android:mimeType="application/x-flac" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter android:priority="-1" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/flac" />
                <data android:mimeType="application/x-flac" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.LibraryDetailActivity"
            android:theme="@style/AudioKit" >
        </activity>
        <activity
            android:name=".ui.activities.LibraryDetailWithHeaderActivity"
            android:theme="@style/AudioKit.TransparentActionBar" >
        </activity>
        <activity
            android:name=".ui.activities.settings.GeneralSettingsActivity"
            android:label="@string/activity_title_settings" >
        </activity>
        <activity
            android:name=".ui.activities.settings.ApplicationSettingsActivity"
            android:label="@string/activity_title_global_settings" >
        </activity>
        <activity android:name=".ui.activities.settings.EqualizerSettingsActivity" >
        </activity>
        <activity
            android:name=".ui.activities.UtilDirectorySelectActivity"
            android:label="@string/activity_label_files_to_scan" >
        </activity>
        <activity
            android:name=".ui.activities.CarModeActivity"
            android:theme="@style/AudioKit.FullScreenActivity" >
        </activity>
        <activity
            android:name=".core.service.providers.local.ui.activities.SearchPathActivity"
            android:label="@string/activity_title_library_path" >
        </activity>
        <activity
            android:name=".core.service.providers.local.ui.activities.FileExtensionsActivity"
            android:label="@string/activity_title_library_file_extensions" >
        </activity>
        <activity
            android:name=".core.service.providers.local.ui.activities.SettingsActivity"
            android:label="@string/activity_label_files_to_scan" >
        </activity>
        <activity
            android:name=".core.service.providers.local.ui.activities.UtilFileSelectActivity"
            android:label="@string/activity_label_art_selection" >
        </activity>
        <activity
            android:name=".core.service.providers.local.ui.activities.ArtSelectActivity"
            android:label="@string/activity_label_art_selection" >
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <receiver android:name=".core.broadcastreceiver.CallStateBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".core.broadcastreceiver.MediaButtonBroadcastReceiver"
            android:enabled="true" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".core.broadcastreceiver.StorageMountBroadcastReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL" />
                <action android:name="android.intent.action.MEDIA_MEDIA_CHECKING" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_NOFS" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_SHARED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTABLE" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <receiver android:name=".ui.widgets.AppWidget4x1"
            android:label="@string/widget_label_4x1" >

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget4x1_info" />
        </receiver>

        <receiver android:name=".ui.widgets.AppWidget4x2"
            android:label="@string/widget_label_4x2">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget4x2_info" />
        </receiver>
    </application>

</manifest>