<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.chepy.audiokit"
    android:versionCode="1"
    android:versionName="1.0.1" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ui.utils.PlayerApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AudioKit" >

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>

        <service
            android:name=".core.service.PlayerService"
            android:enabled="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/svc_player"
            android:stopWithTask="false" >
            <intent-filter>
                <action android:name="eu.chepy.audiokit.core.service.PlayerService" >
                </action>
            </intent-filter>
        </service>

        <receiver android:name=".core.service.ServiceBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activities.LibraryMainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AudioKit.NavigationDrawer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.LibraryDetailActivity"
            android:theme="@style/AudioKit.TransparentActionBar" >
        </activity>

        <activity
            android:name=".ui.activities.SettingsLibrariesActivity"
            android:launchMode="singleTop"
            android:theme="@style/AudioKit" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <activity
            android:name=".ui.activities.SettingsApplicationActivity"
            android:label="@string/label_preferences" >
        </activity>

        <activity
            android:name=".core.service.providers.local.ui.activities.SearchPathActivity"
            android:label="@string/label_scan_files" >
        </activity>

        <activity
            android:name=".core.service.providers.local.ui.activities.SettingsActivity"
            android:label="@string/label_scan_files" >
        </activity>

        <activity android:name=".ui.activities.SoundEffectsActivity">
        </activity>

        <activity
            android:name=".ui.activities.UtilDirectorySelectActivity"
            android:label="@string/label_scan_files" >
        </activity>

        <activity
            android:name=".ui.activities.CarModeActivity"
            android:theme="@style/Theme.AudioKit.FullScreenActivity" >
        </activity>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />


        <receiver
            android:name=".ui.widgets.Widget4x1"
            android:label="@string/label_widget_4x1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_4x1" />
        </receiver>

        <receiver
            android:name=".ui.widgets.Widget4x2"
            android:label="@string/label_widget_4x2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_4x2" />
        </receiver>

        <receiver android:name=".core.broadcastreceiver.CallStateBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".core.broadcastreceiver.MediaButtonBroadcastReceiver"
            android:enabled="true" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".core.broadcastreceiver.StorageMountBroadcastReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL" />
                <action android:name="android.intent.action.MEDIA_MEDIA_CHECKING" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_NOFS" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_SHARED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTABLE" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
    </application>

</manifest>